// COLORS
// Define all color variables in this document
// Use http://chir.ag/projects/name-that-color/ for naming a color.

$black: #000;
$white: #fff;

// Red
$red: red;

// Brand colors
$primary-color: $black;
$text-color: $black;

// Link color
$link-color: $black;
$link-color-hover: lighten($black, 25%);

// Button color
$btn-color: $primary-color;
$btn-color-hover: lighten($primary-color, 10%);
