.hidden-on-mobile {
  @media only screen and (max-width: $tabletOnly) {
    display: none;
  }
}

.hidden-to-tablet {
  @media only screen and (max-width: $desktopOnly) {
    display: none;
  }
}

.hidden-from-mobile {
  display: none;
}

.hidden-from-tablet {
  @media only screen and (min-width: $tablet) {
    display: none;
  }
}

.hidden-on-desktop {
  @media only screen and (min-width: $desktop) {
    display: none;
  }
}

.hidden-on-tablet {
  @media only screen and (min-width: $tablet) and (max-width: $desktopOnly) {
    display: none;
  }
}

.before-page-ready {
  visibility: hidden;
  pointer-events: none;
}

.image-background {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-height: inherit;
  max-width: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  z-index: -1;
}

.scroll-to-top {
  opacity: 0;
  transition: 0.5s;

  &.is-show {
    opacity: 1;
  }
}

.grecaptcha-badge {
  display: none !important;
}
