// TYPOGRAPHY
// Define all typographic styles in this file.

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  margin-bottom: rem(15px);
}

h1,
.h1 {
  font-size: rem(36px);
  margin-bottom: rem(30px);
}

h2,
.h2 {
  font-size: rem(30px);
  margin-bottom: rem(20px);
}

h3,
.h3 {
  font-size: rem(24px);
}

h4,
.h4 {
  font-size: rem(16px);
}

h5,
.h5 {
  font-size: rem(14px);
}

h6,
.h6 {
  font-size: rem(12px);
}

%link,
.link {
  color: $link-color;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;

  &:active,
  &:hover {
    color: $link-color-hover;
  }

  &--white {
    color: $white;

    &:active,
    &:hover {
      color: darken($white, 15%);
    }
  }
}

a {
  @extend %link;
}

p {
  margin-bottom: rem(15px);
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
