// VARIABLES
// Define all variables (aside from colors) in this document. This includes breakpoint, sizes, etc.

// Mobile
$mobileLandscape: 576px;
$mobileLandscapeOnly: 575px;

// Tablet
$tablet: 768px;
$tabletOnly: 767px;

// Desktop
$desktop: 992px;
$desktopOnly: 991px;
$desktopWide: 1200px;
$desktopWideOnly: 1199px;
$desktopSuperWide: 1600px;
$desktopSuperWideOnly: 1599px;

//Font variables
$base-font-size: 16px;
$base-line-height: 1.4;
