// LAYOUT
// This is the main layout file.
// This file should be used to define the primary page layout that each of the page types will be extending.
// This includes global styles for html, body, etc.

//Enable font-smoothing
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-size: $base-font-size; // Don't modify static unit.
  font-smoothing: antialiased;
  font-weight: 400;
  line-height: $base-line-height;
  font-family: sans-serif;
}

body {
  text-size-adjust: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
}